server {
    listen       ${NGINX_PORT};
    # listen  [::]:${NGINX_PORT};
    server_name  ${NGINX_HOST};

    #access_log  /var/log/nginx/host.access.log  main;

    location /api/ {
        proxy_pass http://api:4001/;
    }

    location /public {
        autoindex on;
        alias /var/www;
    }

    location /data {
        autoindex on;
        alias  /var/www;
    }

    location ^~ /data/project {
        alias /var/www/project;
        rewrite "^/data/project/(PRJ[A-Z]{2})([0-9]{3})([0-9]{3})/(.*)$" /data/project/$1/$2/$1$2$3/$4 last;

        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Methods "POST, GET, OPTIONS";
        add_header Access-Control-Allow-Headers "Origin, Authorization, Accept";
        add_header Access-Control-Allow-Credentials true;
    }

    location / {
        root   /usr/share/nginx/html;
        try_files $uri $uri/ /index.html;
    }

    # location / {
        # root   /usr/share/nginx/html;
        # index  index.html index.htm;
    # }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}
